/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

*,
*::before,
*::after {
  box-sizing: Content-box;
}


.btn {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
  text-shadow: 0 1px 0 hsla(0, 0%, 0%, 0.2);
  text-decoration: none !important;
  text-transform: uppercase;
  color: #fff !important;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 3px;
  position: relative;
  display: inline-block;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}

.btn:active {
  -webkit-transform: translateY(7px);
  -moz-transform: translateY(7px);
  -o-transform: translateY(7px);
  transform: translateY(7px);
}

.btn {
  background: #1E90FF;
  box-shadow: 0 10px 0 #005ab2,
    0 11px 5px hsla(0, 0%, 0%, 0.5);
}

.btn:active {
  box-shadow: 0 3px 0 #005ab2,
    0 4px 6px hsla(0, 0%, 0%, 0.7);
}

.jumbotron {
  background-color: rgba(228, 228, 228, 0.795);
}

.image-container {
  justify-content: center;
  background-position: center;
  position: relative;
  width: 420px;
  height: 325px;
  perspective: 1000px;
  /* Añade perspectiva para el efecto 3D */
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease-in-out, transform 0.6s ease-in-out;
  backface-visibility: hidden;
  /* Oculta la cara trasera durante la rotación */
}

.image-container .Backimg {
  opacity: 0;
  transform: rotateX(180deg);
  /* Rotación inicial de la imagen trasera en el eje Y */
}

.image-container:hover .Backimg {
  opacity: 1;
  transform: rotateX(0deg);
  /* Rotación hacia 0 grados para mostrar la imagen */
}

.image-container:hover .Frontimg {
  opacity: 0;
  transform: rotateX(-180deg);
  /* Rotación a -180 grados para ocultar la imagen frontal */
}

.Frontimg {
  width: 500px;
  height: 300px;
  image-rendering: optimizeQuality;
  filter: brightness(100%) contrast(120%) saturate(100%) opacity(200%);
}

.Backimg {
  width: 500px;
  height: 300px;
  image-rendering: optimizeQuality;
  filter: brightness(100%) contrast(120%) saturate(100%) opacity(200%);
}

@media (max-width: 768px) {
  .navbar-collapse {
    width: 100%;
  }

  .navbar-nav {
    padding: 10px;
  }

  .navbar-nav .nav-link {
    padding: 10px 15px;
  }
}

@media (min-width: 768px) {
  .navbar-nav {
    display: flex;
    flex-direction: row;
  }

  .navbar-nav .nav-item {
    display: flex;
  }
}